version: '3'

services:

  # ------------------------------
  # Brokerage containers
  # ------------------------------

  # ------------------------------
  # Private containers
  # ------------------------------
  redis:
    ports:
      - 6379:6379

  postgresql:
    ports:
      - 5432:5432